<!DOCTYPE html>
<html>
<head>
   <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <title>Genre Options</title>
</head>
<body>
<table>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="#">Genre Options</a>
    </nav>
    <main role="main" class="container" style="padding-top: 100px">
      <div class="starter-template">
        <h1>Available Genres</h1>
        <p class="lead">Click on one of the genres below to get top five recommended books.<br>
        You can also type the genre you want in the address bar. <br>
      Please note that if you choose a genre that's not one of the 40 valid options, you will automatically default to all-books.</p>
         <table>
        <tbody><tr>
          <td><a href="http://127.0.0.1:5000/recommend/all-books">all-books</a></td>
          <td style="padding-left:30px;"><a href="http://127.0.0.1:5000/recommend/bestsellers">bestsellers</a></td>
           <td style="padding-left:30px;"><a href="http://127.0.0.1:5000/recommend/fiction">fiction</a></td>
            <td style="padding-left:30px;"><a href="http://127.0.0.1:5000/recommend/non-fiction">non-fiction</a></td>
        </tr>
        <tr>
          <td><a href="http://127.0.0.1:5000/recommend/action-adventure">action-adventure</a></td>
          <td style="padding-left:30px;"><a href="http://127.0.0.1:5000/recommend/arts-photography">arts-photography</a></td>
           <td style="padding-left:30px;"><a href="http://127.0.0.1:5000/recommend/biographies-memoirs">biographies-memoirs</a></td>
            <td style="padding-left:30px;"><a href="http://127.0.0.1:5000/recommend/business-economics">business-economics</a></td>
        </tr>
        <tr>
          <td><a href="http://127.0.0.1:5000/recommend/children-s-books">children-s-books</td></a>
          <td style="padding-left:30px;"><a href="http://127.0.0.1:5000/recommend/comics-graphic-novels">comics-graphic-novels</a></td>
           <td style="padding-left:30px;"><a href="http://127.0.0.1:5000/recommend/computers-technology">computers-technology</a></td>
            <td style="padding-left:30px;"><a href="http://127.0.0.1:5000/recommend/cooking">cooking</a></td>
        </tr>
        <tr>
          <td><a href="http://127.0.0.1:5000/recommend/crafts-hobbies-home">crafts-hobbies-home</a></td>
          <td style="padding-left:30px;"><a href="http://127.0.0.1:5000/recommend/crime">crime</a></td>
           <td style="padding-left:30px;"><a href="http://127.0.0.1:5000/recommend/current-affairs">current-affairs</a></td>
            <td style="padding-left:30px;"><a href="http://127.0.0.1:5000/recommend/education-reference">education-reference</a></td>
        </tr>
        <tr>
          <td><a href="http://127.0.0.1:5000/recommend/erotica">erotica</a></td>
          <td style="padding-left:30px;"><a href="http://127.0.0.1:5000/recommend/gay-lesbian">gay-lesbian</a></td>
           <td style="padding-left:30px;"><a href="http://127.0.0.1:5000/recommend/health-fitness-dieting">health-fitness-dieting</a></td>
            <td style="padding-left:30px;"><a href="http://127.0.0.1:5000/recommend/history">history</a></td>
        </tr>
        <tr>
          <td><a href="http://127.0.0.1:5000/recommend/horror">horror</a></td>
          <td style="padding-left:30px;"><a href="http://127.0.0.1:5000/recommend/humor-entertainment">humor-entertainment</a></td>
           <td style="padding-left:30px;"><a href="http://127.0.0.1:5000/recommend/law-philosophy">law-philosophy</a></td>
            <td style="padding-left:30px;"><a href="http://127.0.0.1:5000/recommend/literature-fiction">literature-fiction</a></td>
        </tr>
        <tr>
          <td><a href="http://127.0.0.1:5000/recommend/mystery-thriller-suspense">mystery-thriller-suspense</a></td>
          <td style="padding-left:30px;"><a href="http://127.0.0.1:5000/recommend/nature-wildlife">nature-wildlife</a></td>
           <td style="padding-left:30px;"><a href="http://127.0.0.1:5000/recommend/other">other</a></td>
            <td style="padding-left:30px;"><a href="http://127.0.0.1:5000/recommend/parenting-relationships">parenting-relationships</a></td>
        </tr>
        <tr>
          <td><a href="http://127.0.0.1:5000/recommend/political-social-sciences">political-social-sciences</a></td>
          <td style="padding-left:30px;"><a href="http://127.0.0.1:5000/recommend/professional-technical">professional-technical</a></td>
           <td style="padding-left:30px;"><a href="http://127.0.0.1:5000/recommend/religion-spirituality">religion-spirituality</a></td>
            <td style="padding-left:30px;"><a href="http://127.0.0.1:5000/recommend/romance">romance</a></td>
        </tr>
        <tr>
          <td><a href="http://127.0.0.1:5000/recommend/science-math">science-math</a></td>
          <td style="padding-left:30px;"><a href="http://127.0.0.1:5000/recommend/science-fiction-fantasy">science-fiction-fantasy</a></td>
           <td style="padding-left:30px;"><a href="http://127.0.0.1:5000/recommend/self-help">self-help</a></td>
            <td style="padding-left:30px;"><a href="http://127.0.0.1:5000/recommend/sports-outdoors">sports-outdoors</a></td>
        </tr>
        <tr>
          <td><a href="http://127.0.0.1:5000/recommend/travel">travel</a></td>
          <td style="padding-left:30px;"><a href="http://127.0.0.1:5000/recommend/war">war</a></td>
           <td style="padding-left:30px;"><a href="http://127.0.0.1:5000/recommend/westerns">westerns</a></td>
            <td style="padding-left:30px;"><a href="http://127.0.0.1:5000/recommend/young-adult">young-adult</a></td>
        </tr>

      </tbody></table>
    </div>
    </main><!-- /.container -->

</body>
</html>
