<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <title>{{title}} review</title>
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="#">{{title}} review</a>
    </nav>

    <main role="main" class="container" style="padding-top: 100px">
      <div class="starter-template">
        <h1>{{title}} critic and reader review</h1>
        <p class="lead">Click on the title for purchase link, and a slightly related recommendation.<br>
        You can also type the title directly into the search bar.<br>
        Both critic and reader reviews are scored out of a maximum score of 5.
      </p>
  <ul>
          <li><a href="/purchase/{{review_dict['title']}}">Title: {{review_dict['title']}}</a></li>
          <li> Author: {{review_dict['author']}}</li>
          <li>Critic Review: {{review_dict['critic_review']}}</li>
          <li>Reader Review: {{review_dict['reader_review']}}</li>
  </ul>
</body>
</html>
